*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',Arial,sans-serif;
}

body{
    background-color: #f8f9fa;
    color: #333;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #1c2938;
    color: white;
}

.logo{
    font-weight: bold;
    font-size: 1.2rem;
}

.nav{
    list-style: none;
    display: flex;
    gap:20p;
}

.nov li{
    cursor:pointer;
    font-size: 0.9rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    background-color: #273449; 
    color: white;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 1rem;
    color: #b0b8c1;
    margin-bottom: 20px;
    max-width: 400px;
}

.hero-text button {
    padding: 10px 20px;
    background-color: #3b82f6; /* Blue */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.hero-image {
    background-color: #6c757d;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9ecef;
    font-size: 0.9rem;
}




.info-section {
    padding: 60px 10%;
    background-color: white;
    text-align: center;
}

.info-section h2 {
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.info-box {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box-image {
    width: 100px;
    height: 100px;
    border: 2px solid #3b82f6;
    margin-bottom: 10px;
}




.testimonial {
    padding: 60px 10%;
    background-color: #e9ecef; /* Light grey */
    font-style: italic;
    text-align: center;
}

.testimonial span {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-style: normal;
}



.cta {
    padding: 40px 10%;
    background-color: #3b82f6; /* Blue */
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.cta p {
    margin: 0;
    font-weight: bold;
}

.cta button.second {
    background-color: white;
    color: #3b82f6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



footer {
    padding: 20px 10%;
    background-color: #1c2938;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}
